@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 4rem;
  font-family: 'Big Shoulders Stencil Text', cursive;
}

.gameboards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.gameboard-container {
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 10fr auto;
  width: clamp(330px, 40vw, 500px);
  height: clamp(330px, 40vw, 500px);

  grid-template-areas: ". c"
                       "r g"
                       "i i";
}

.col-legend-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-area: c;
}

.row-legend-container {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-area: r;
}

.gameboard {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-area: g;
  border: 2px solid black;
}

.player-info {
  grid-area: i;
  text-align: center;
}

.col-legend,
.row-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.square {
  border: 1px solid lightgray;
  position: relative;
}

#gameboard-2 .square:hover:not(.hit) {
  cursor: crosshair;
  border-color: darkblue;
}

.col-legend,
.row-legend {
  position: relative;
}

.col-legend.legend-hover::after {
  content: "";
  position: absolute;
  top: calc(100% - 5px);
  height: 5px;
  width: 100%;
  background-color: #c9456a;
}

.row-legend.legend-hover::after {
  content: "";
  position: absolute;
  left: calc(100% - 5px);
  height: 100%;
  width: 5px;
  border-radius: 2px;
  background-color: #c9456a;
}

/* Place ships modal */

#place-ships-modal {
  margin: 6rem auto;
  padding: 3rem 1rem;
}

#place-ships-modal::backdrop {
  background: linear-gradient(#000d, #000a);
}

#place-ships-modal h2,
#place-ships-modal p {
  text-align: center;
  margin-bottom: 1.8rem;
}

#place-ships-modal .btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#place-ships-modal button {
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background-color: #222222;
  padding: 0.75rem 2rem;
  border-radius: 5px;
}

#place-ships-modal button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

#gameboard-place-ships {
  margin: 0 auto;
}

#gameboard-place-ships .square {
  cursor: pointer;
}

/* Animation when start game button enable/disable */
button.start-game:not(:disabled) {
  animation: 800ms enable-button 1 alternate;
}

@keyframes enable-button {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Player board */
.square.ship {
  background-color: #808080;
  border: 1px solid #464646;
}

.square.hit {
  background-color: #C6E8EC;
}

.square.hit:not(.ship)::after {
  content: "·";
  position: absolute;
  font-weight: 900;
  font-size: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.square.ship.hit {
  background-color: #D0859A;
}

.square.ship.hit::after {
  content: "×";
  position: absolute;
  font-weight: 900;
  font-size: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.square.ship.sunk {
  background-color: #c9456a;
}

/* Hover effect ship preview when placing them */
#gameboard-place-ships .square:not(.ship):hover::after{
  content: "";
  display: block;
  position: absolute  ;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: #808080;
  transform-origin: left;
}

#gameboard-place-ships .square[ship-length="5"]:not(.ship)::after {
  transform: scaleX(5.31);
}

#gameboard-place-ships .square[ship-length="4"]:not(.ship)::after{
  transform: scaleX(4.25);
}

#gameboard-place-ships .square[ship-length="3"]:not(.ship)::after {
  transform: scaleX(3.18);
}

#gameboard-place-ships .square[ship-length="2"]:not(.ship)::after {
  transform: scaleX(2.1);
}

#gameboard-place-ships .square[ship-length="0"]:not(.ship)::after {
  transform: scaleX(0);
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  #place-ships-modal:modal {
    max-width: 100vw;
    padding: 1rem 0;
  }

  #place-ships-modal #gameboard-place-ships {
    width: clamp(300px, 40vw, 500px);
    height: clamp(300px, 40vw, 500px);
    grid-template-areas: "g g"
                         "g g";
  }

  #gameboard-place-ships .col-legend-container,
  #gameboard-place-ships .row-legend-container {
    display: none;
  }

}