/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

h1 {
  text-align: center;
}

.gameboards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.gameboard-container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 10fr;
  width: clamp(330px, 40vw, 500px);
  height: clamp(330px, 40vw, 500px);

  grid-template-areas: ". c"
                       "r g";
}

.col-legend-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-area: c;
}

.row-legend-container {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-area: r;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-area: g;
  border: 2px solid black;
}

.col-legend,
.row-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.square {
  border: 1px solid lightgray;
}

#gameboard-2 .square:hover {
  cursor: crosshair;
  background-color: lightblue;
}

.col-legend,
.row-legend {
  position: relative;
}

.col-legend.legend-hover::after {
  content: "";
  position: absolute;
  top: calc(100% - 5px);
  height: 5px;
  width: 100%;
  background-color: lightblue;
}

.row-legend.legend-hover::after {
  content: "";
  position: absolute;
  left: calc(100% - 5px);
  height: 100%;
  width: 5px;
  border-radius: 2px;
  background-color: lightblue;
}

/* Place ships modal */

#place-ships-modal {
  margin: 6rem auto;
  padding: 3rem 1rem;
}

#place-ships-modal::backdrop {
  background: linear-gradient(#000d, #000a);
}

#place-ships-modal h2,
#place-ships-modal p {
  text-align: center;
  margin-bottom: 1.8rem;
}

#place-ships-modal .rotate-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#place-ships-modal button {
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background-color: #222222;
  padding: 0.75rem 2rem;
  border-radius: 5px;
}

#gameboard-place-ships .square:hover {
  cursor: pointer;
  background-color: lightblue;
}